:root{
    --brawn-1 : #DCAE76;
    --brawn-2 : #855834;
    --brawn-3 : #8A4700;
    --brawn-4 : #66360E;
    --brawn-5 : #482407;
    --light-brawn : #E6C7AA;
    --balck : black;
    --white : white;
    --dark-gray  : #585858; 
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=La+Belle+Aurore&display=swap');

* {
    margin: 0;
    padding: 0;
}


.div_1 {
    height: 100vh;
    background: url("/Contact-img/zalug1.svg") no-repeat center/cover;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}



.div_1_h1 {
    color: white;
    font-size: 6vh;
}


.div_1_inner {
    width: auto;
    border-radius: 5px;
    padding: 20px;
}



.inpt input, textarea {
    
    width:400px;
    height: 50px;
}

.div-contact{
    display: flex;
    align-items: center;
    width: 400px;
    border-radius: 35px;
    background-color: #d9d9d982;
    margin: 15px;
}

.contact-input{
    outline: none;
    border: none;
    background-color: #d9d9d900;
    width: 100%;
    padding: 25px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    opacity: 1;
}

::placeholder{
    color: #ffffffa2;;
}

.contact-label{
    margin-left: 40px;
}

.icon1{
    color: #ffffffa2;
}

.contact-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 400px;
    text-align: center;
    color:#ffffffa2;;
    font-size: 1.3rem;
    padding: 18px 24px;
    background-color: #505F98;
    border: 1px solid #082055;
    border-radius: 35px;
    cursor: pointer;
    position: relative;
    transition: all 0.4s;
    margin-left: 15px;
}

.contact-btn::after{
    content: "";
    position: absolute;
    background-color:#082055;
    border-radius: inherit;
    transition: 0.25s;
    z-index: -1;
}

.contact-btn:hover::after{
    translate: 0;
}

.contact-btn:hover{
    background-color: #333eba74;
}

.section_2 {
    height: 60vh;
    background: url("/Contact-img/Group\ 38.png") no-repeat center/cover;
    margin-top:-2px;
}

.container {
    width: 100%;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


iframe {
    width: 100%;
    height: 100%;
}


.Footer {
    height: 100px;
    width: 100%;
    background: var(--brawn-1);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.FooterContainer {
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.Footer .Top {
    width: 100%;
    height: 50%;
    border-bottom: 1px solid var(--balck);
}

.Footer .Top .Copyrights {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.Footer .Bottom {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Footer .Bottom .QuickAccess {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.Footer .Bottom .QuickAccess a {
    text-decoration: none;
    color: var(--dark-gray);
}

.Footer .Bottom .SocialMedia {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5px;
}

.Footer .Bottom .SocialMedia svg {
    width: 20px;
    height: 20px;
}


header{
    display: flex;
    flex-direction: column;
}
.partie1{
    background-color: #482407;
    margin-top: 0px;
    height: 45px;
}
.partie1 p{
    text-align: center;
    margin-top: 0px;
    color: aliceblue;
    font-family: "La Belle Aurore", cursive;
    font-size: 36px;
    width: 100%;
}
.nav-bar{
    background-color: #E6C7AA;
    display: flex;
    flex-direction: row;
    height: 80px;
}

.nav-bar img{
    height: 80%;
    width: 100%;
    margin-top: 8px;
     /* text-align: center; */
}

.nav-bar ul{
    display: flex;
    flex-direction: row;
    margin-left: 706px;
    text-decoration: none;
    list-style-type: none;
    margin-top: 28px;
}

.nav-bar ul a{
    padding: 20px;
    color: #556866;
    font-family: "JetBrains Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
}

.nav-bar .icones{
    margin-bottom: 32px;
    margin-left: -10px;
    margin-right: 32px;
    margin-top: 19px;
}