@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Molle&family=Righteous&display=swap');


:root {
    --brawn-1: #DCAE76;
    --brawn-2: #855834;
    --brawn-3: #8A4700;
    --brawn-4: #66360E;
    --brawn-5: #482407;

    --light-brawn: #E6C7AA;

    --balck: black;
    --white: white;

    --dark-gray: #585858;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ----------------la partie du nev bar ------------------*/

/* Header */
header {
    display: flex;
    flex-direction: column;
}

.partie1 {
    background-color: #482407;
    margin-top: 0px;
    height: 45px;
}

.partie1 p {
    text-align: center;
    margin-top: 0px;
    color: aliceblue;
    font-family: "La Belle Aurore", cursive;
    font-size: 36px;
    width: 100%;
}

.nav-bar .big-div {
    background-color: #E6C7AA;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
}

.nav-bar .big-div img {
    height: 80%;
    width: 10%;
}

.nav-bar .big-div .all {
    display: flex;
    flex-direction: row;

}

.nav-bar .big-div .all div ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    margin-top: 28px;
}

.nav-bar .big-div .all div ul a {
    padding: 0 10px;
    color: var(--dark-gray);
    font-family: "JetBrains Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
}

.nav-bar .big-div .all .list-icones {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.nav-bar .big-div .list-icones .icones li img {
    width: 40px;
    height: 40%;
}

.checkbtn {
    font-size: 30px;
    color: var(--dark-gray);
    right: 10px;
    position: absolute;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.links {
    display: flex;
    justify-content: center;
}

@media (max-width: 735px) {
    .nav-bar .big-div .all .links ul li a {
        font-size: 16px;
    }

    .partie1 p {
        font-size: 26px;
    }
}

@media (max-width: 550px) {
    .nav-bar .big-div .LOGO {
        width: 20%;
        height: auto;
    }

    .nav-bar .big-div .checkbtn {
        display: block;
    }

    .nav-bar .big-div .all .links .UL1 {
        position: fixed;
        width: 100%;
        height: 50vh;
        background: var(--light-brawn);
        right: 0;
        bottom: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }

    .nav-bar .big-div .all .links .UL1 li {
        width: 100%;
        text-align: center;
    }

    .nav-bar .big-div .all .links .UL1 li a {
        font-size: 25px;
    }

    .nav-bar .big-div .list-icones .icones {
        position: fixed;
        width: 100%;
        height: 34vh;
        background: var(--light-brawn);
        right: 0;
        top: 13vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }

    .nav-bar .big-div .list-icones .icones li {
        width: 100%;
        text-align: center;
    }

    .nav-bar .big-div .list-icones .icones li img {
        width: 30px;
        height: 30%;
    }

    .nav-bar .big-div .all {
        display: none;
    }

    .CHECK:checked ~ .all {
        display: block;
    }

    .HEADER {
        position: fixed;
    }
}

/* ------------section 1 : la photo ------------------ */

.sections {
    display: flex;
    flex-direction: column;
}

.sections .section1 div {
    margin-top: 50px;

}

.sections .section1 div img {
    margin-top: 8%;
    /* margin-top: 50px;  =============== */
    width: 100%;
}

/* ------------section 2 : les collection ------------------ */
.sections .section2 .en-tete {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 14px;

}

.sections .section2 .en-tete .left-1 {
    grid-column: 1/2;
    grid-row: 1/2;
    border: none;
    border-top: 3px solid #134B42;
    /* width: 40%; */


}

.sections .section2 .en-tete .left-2 {
    grid-column: 1/2;
    grid-row: 2/3;
    border: none;
    border-top: 3px solid #134B42;
    /* width: 40%; */


}

.sections .section2 .en-tete .right-1 {
    grid-column: 3/4;
    grid-row: 1/2;
    border: none;
    border-top: 3px solid #134B42;
    /* width: 40%; */
    float: right;


}

.sections .section2 .en-tete .right-2 {
    grid-column: 3/4;
    grid-row: 2/3;
    border: none;
    border-top: 3px solid #134B42;
    /* width: 40%; */
    float: right;

}

.sections .section2 .en-tete p {
    grid-column: 2/3;
    grid-row: 1/3;
    /* margin-top: ; */
    font-family: "Righteous", sans-serif;
    color: #134B42;
    font-size: 27px;
    margin-left: 20%;
    margin-bottom: 31px;
    width: 215px;
    /* ici */
    line-height: 20px;
    /* Même valeur que la hauteur */
    text-align: center;

}

.sections .section2 .title {
    font-family: "JetBrains Mono", monospace;
    font-size: 30px;
    color: #134B42;
    text-decoration: underline;
    text-decoration-color: #134B42;
    text-align: center;

}



.sections .section2 .catalogue {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;

    /* height: 100px; */
}

.sections .section2 .catalogue .class1 {
    width: 20%;
    padding: 20px;
    height: 50%;
    border-radius: 50px;


}

.sections .section2 .catalogue .class2 {
    width: 20%;
    padding: 20px;
    height: 50%;
    margin-top: 20px;
    border-radius: 50px;


}

 .sections .section2 .catalogue a img {
    width: 30%;
    height: 100%;
}
   

.sections .section2 .imgfin img {
    width: 100%;
}

.sections .section2 .imgfin p {
    font-family: "La Belle Aurore", cursive;
    font-weight: 400;
    font-style: normal;

    font-size: 50px;
    color: white;
    margin-top: -20%;
    margin-left: 50%;
    /* margin-bottom: 50px; */

}



/* partie3 */
.section3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 3%;
    /* margin-top: 220px; ==================== */
    margin-bottom: 5%;

}

.section3 .en-tete {
    margin-top: 12%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 20px;
}

.section3 .en-tete .left-1 {
    grid-column: 1/2;
    grid-row: 1/2;
    border: none;
    border-top: 3px solid #134B42;
    /* width: 40%; */
}

.section3 .en-tete .left-2 {
    grid-column: 1/2;
    grid-row: 2/3;
    border: none;
    border-top: 3px solid #134B42;
    /* width: 40%; */

    /* margin-top: 8px; */

}

.section3 .en-tete .right-1 {
    grid-column: 3/4;
    grid-row: 1/2;
    border: none;
    border-top: 3px solid #134B42;
    /* width: 40%; */

    float: right;
    /* margin-top: -11px; */


}

.section3 .en-tete .right-2 {
    grid-column: 3/4;
    grid-row: 2/3;
    border: none;
    border-top: 3px solid #134B42;
    /* width: 40%; */

    float: right;

}

.section3 .en-tete p {
    grid-column: 2/3;
    grid-row: 1/3;
    /* margin-top: ; */
    font-family: "Righteous", sans-serif;
    color: #134B42;
    font-size: 27px;
    margin-bottom: 19px;
    width: 215px;
    margin-left: 37%;

}

.section3 .Gallery {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    width: 100%;

}

.section3 .Gallery .class1 {
    height: 20%;
    width: 20%;
    padding-top: 5%;
}



/* Footer */
.Footer {
    height: 100px;
    width: 100%;
    background: var(--brawn-1);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.FooterContainer {
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.Footer .Top {
    width: 100%;
    height: 50%;
    border-bottom: 1px solid var(--balck);
}

.Footer .Top .Copyrights {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.Footer .Bottom {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Footer .Bottom .QuickAccess {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.Footer .Bottom .QuickAccess a {
    text-decoration: none;
    color: var(--dark-gray);
}

.Footer .Bottom .SocialMedia {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5px;
}

:root {
    --accent-color: black;
}

.Footer .Bottom .SocialMedia svg {
    width: 20px;
    height: 20px;
}

@media (max-width: 810px) {
    .Footer {
        padding-bottom: 10px;
    }

    .Footer .Bottom {
        justify-content: center;
        flex-wrap: wrap;
    }

    .Footer .Bottom .QuickAccess {
        width: 100%;
        height: 50%;
        justify-content: space-around;
        border-bottom: 1px solid var(--balck);
    }
    
    .Footer .Bottom .SocialMedia {
        width: 90%;
        height: 50%;
        justify-content: space-around;
    }
}

@media (max-width: 520px) {
    .Footer .Top .Copyrights h5 {
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    .Footer .Top .Copyrights h5 {
        font-size: 10px;
    }

    .Footer .Bottom .QuickAccess a {
        font-size: 15px;
    }

    .Footer .Bottom .QuickAccess {
        align-items: center;
    }
}

@media (max-width: 321px) {
    .Footer .Top .Copyrights h5 {
        font-size: 9px;
    }

    .Footer .Bottom .QuickAccess a {
        font-size: 12px;
    }

    .Footer .Bottom .QuickAccess {
        align-items: center;
    }

    .Footer .Bottom .SocialMedia {
        align-items: center;
    }
}





/* ========================responsive =========================== */

@media screen and (max-width: 768px ) and (min-width: 429px ) {


    .sections .section2 .en-tete p{
    margin-left: 1%; 
    margin-bottom: 1%;
    }
    .section3 .en-tete p{
        margin-bottom: 0%;
    }

    .sections .section2 .title{
        margin-top: 5%;
        font-size: 22px;
    }
}


@media screen and (max-width: 430px) {

    .sections .section2 .en-tete p {
        font-size: 18px;
        gap: 0px;
        margin-left: 0%;
        width: 128px;
    }

    .sections .section2 .title {
        font-size: 15px;



    }

    .sections .section2 .catalogue .class1 {
        width: 21%;
        padding: 8px;
        border-radius: 50px;
    }

    .sections .section2 .catalogue .class2 {
        width: 21%;
        padding: 4px;
        height: 50%;
        margin-top: 6%;
        border-radius: 50px;

    }
    .sections .section2 .imgfin img{
        /* visibility: hidden; */
    }
    .sections .section2 .imgfin p {
        font-family: "La Belle Aurore", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 25px;
        color: white;
        /* margin-top: 0%; */
        /* margin-left: 29%; */
        /* margin-bottom: 50px; */
        /* /* text-decoration: underline; */
    }

    .section3 {
        margin-top: 0px;
    }

    .section3 .en-tete {
        font-size: 18px;
        gap: 0px;
    }

    .section3 .en-tete p {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        font-family: "Righteous", sans-serif;
        color: #134B42;
        font-size: 21px;
        margin-bottom: 19px;
        margin-left: 20%;
        width: 90px;
    }
}