@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{

    --brawn-1 : #DCAE76;  
    --brawn-2 : #855834;  
    --brawn-3 : #8A4700;  
    --brawn-4 : #66360E;  
    --brawn-5 : #482407;

    --light-brawn : #E6C7AA;

    --black : black;
    --white : white;
 
    --dark-gray  : #585858; 
    --light-gray  : #b6b6b6; 

    --green : rgb(0, 129, 24);
}


 *{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
} 

section{
    padding:2rem 5%;
}

.Products_section{
    display: flex;
    gap: 50px;
    
}

/* ----------------------------------- sidebar -------------------------------------*/

.sidebar{
    display: flex;
    flex-direction: column;
    width: 20%;
}

.icon-filter{
    display: flex;
    gap: 0.5rem;
}

.icon-filter img{
    width: 18px;
}


.icon-filter .title{
    color: var(--dark-gray);
    font-size: 15px;
    font-weight: 400;
}

hr{
    width:100%;
    margin: 20px 0;
    text-align:left;
    height:0.8px;
    background-color:var(--light-gray);
}

.category{
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding:12px 0;
}

.category .cats{
    display: flex;
    justify-content: space-between;
    padding: 13px 0;
}

.category .cats h1{
    font-size: 1.2rem;
    font-weight:600;
}

.category .cats img{
    width: 10px;
}

.category p{
    padding: 3px 0;
    color: var(--dark-gray);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.category p:hover{
    text-decoration:underline;
    color: var(--black);
    cursor: pointer;
}


/* ------------------------- Catalogue ----------------------- */


.catalogue{
    width: 70%;
}

.menu{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.filter{
    display: flex;
    justify-content: space-between;
}

.filter .order{
    display: flex;
    justify-content: space-between;
    width: 90px;
}

.filter .order div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--brawn-3);
}

.filter .order div img{
    width: 18px;
}


.catalogue .filter .box select {
    color: var(--black);
    padding: 6px;
    width: 200px;
    border: 1px solid var(--black);
    font-size: 15px;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}
  

  
  
.catalogue .filter .box select option {
    padding: 30px;
}


/*----------------------- Produite -------------------------*/


.products{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin: 25px 0;
    gap: 30px 0;
    
}

.products .card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap:10px;
}

.products .card .image{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 270px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    overflow:hidden;
}

.products .card .image img{
    width: 170px;
}

.products .card .image img:hover{
    transform: scale(1.1);
}

.products .card h3{
    font-size: 15px;
    font-weight: 400;
    color: var(--black);
}

.products .card h3:hover{
    text-decoration:underline;
    color: var(--black);
    cursor: pointer;
}

.products .card .star{
    display: flex;
    width: 175px;
    justify-content: space-between;
}

.products .card .star span{
    color: var(--dark-gray);
}

.products .card .star img{
    width: 18px;
}

.card .price{
    font-size: 14px;
}

.card .price span{
    font-size: 14px;
    color: var(--green);
    text-decoration: line-through;
}
